# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\cppRepos\practiceContent\2048\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
